<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Product Category</title>
    <th:block th:replace="/backstage/common_resources::common_css"/>
    <th:block th:replace="/backstage/common_resources::common_js"/>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <!-- 页面头部 -->
    <header th:replace="~{/backstage/common_header::header}"></header>
    <!-- 导航侧栏 -->
    <aside th:replace="~{/backstage/common_aside::aside}"></aside>
    <!-- 内容区域 -->
    <div class="content-wrapper">
        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                Product Category Management <small>Create Product Category</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/backstage/index}"><i
                        class="fa fa-dashboard"></i> Index</a></li>
                <li><a th:href="@{/backstage/category/all}">Product Category Management</a></li>
                <li class="active">Create Product Category</li>
            </ol>
        </section>
        <!-- 正文区域 -->
        <section class="content">
            <form th:action="@{/backstage/category/add}" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">Product Category Info</div>
                    <div class="row data-type">
                        <div class="col-md-2 title">Product Category Name</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" name="cname"
                                   placeholder="Product Category Name" value="">
                        </div>
                    </div>
                    <!--工具栏-->
                    <div class="box-tools text-center">
                        <button type="submit" class="btn bg-maroon">Save</button>
                        <button type="button" class="btn bg-default" onclick="history.back(-1);">Back</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <!-- 底部导航 -->
    <footer th:replace="~{/backstage/common_footer::footer}"></footer>
</div>

</body>
</html>
